
  
   <!-- START CONTENT -->
   <section id="content">
       <div class="container">
                 <!--truncation-->
               
                <div id="login-page" class="row">
                  <div class="col  offset-m4 m3 offset-l4 4 col s12  z-depth-4 card-panel">
                    <form class="login-form">
                      <div class="row">
                        <div class="input-field col s12 center">
                          <img src="assets/img/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
                          <p class="center login-form-text">User-Login</p>
                        </div>
                      </div>
                      <div class="row margin">
                        <div class="input-field col s12">
                          <i class="mdi-social-person-outline prefix"></i>
                          <input id="username" type="text">
                          <label for="username" class="center-align">Username</label>
                        </div>
                      </div>
                      <div class="row margin">
                        <div class="input-field col s12">
                          <i class="mdi-action-lock-outline prefix"></i>
                          <input id="password" type="password">
                          <label for="password">Password</label>
                        </div>
                      </div>
                       
                      <div class="row">
                           
                           
                        <div class="input-field col s12">
                          <a  (click)="Login()"  class="btn waves-effect waves-light col s12">Login</a> 
                        </div>
                          <div class="input-field col s12">
                          <a  (click)="SignUp()"  class="btn waves-effect waves-light col s12">SignUp</a>
                        </div>
                      </div>
                  
              
                    </form>
                  </div>
                </div>

      </div>
   </section>          
  
  
  