<div class="col s12 m12 l4">
    <div id="flight-card" class="card">
      <div class="card-header amber darken-2">
        <div class="card-title">
          <h4 class="flight-card-title">Flight</h4>
          <p class="flight-card-date">June 18, Thu 04:50</p>
        </div>
      </div>
     
    </div>
  </div>      
  
  <div class="divider"></div>
<div class="col s12">
                          <div id="flights" class="col s12  cyan lighten-4">
                        
                                  <div class="row">

                                        

                                        <form class="col s12" id="formValidate" action="#">
                                                        <div class="row">
                                                          <!-- Switch -->
                                                                <!-- <div class="switch col s6">
                                                                    <label>
                                                                    <h5>-></h5>
                                                                    
                                                                      <input type="checkbox">
                                                                      <span class="lever"></span>
                                                                    <h5><=></h5>
                                                                    </label>
                                                                  </div> -->
                                                                  <div class=" col s8"> 
                                                                      <input class="with-gap flightRadio"  name="group1" type="radio" id="oneWay" />
                                                                      <label for="oneWay">One Way</label>
                                                                    
                                                                      <input class="with-gap flightRadio" name="group1" type="radio" id="twoWay" />
                                                                      <label for="twoWay">Round Trip</label> 
                                                                  </div>                    
                                                          </div>
                                              <div class="row">
                                                            <div id="divFrom" class="input-field col s12 m6 ">
                                                                        <div class="input-field col s12">
                                                                            <i class="material-icons prefix">textsms</i>
                                                                            <input type="text" id="from" class="autocomplete"  >
                                                                            <label for="from">From</label>
                                                                      </div>

                                                                  
                                                            </div>
                                                            <div id="divDestination" class="input-field col s12 m6 ">
                                                                    <div class="input-field col s12">
                                                                            <i class="material-icons prefix">textsms</i>
                                                                            <input type="text" id="destination" class="autocomplete"  >
                                                                            <label for="destination">Destination</label>
                                                                          </div>
                        
                                                            </div>
                                                
                                                 
                                                        <div class="input-field col s12 m6 l3">
                                                          
                                                         <div class="input-field col s12">
                                                                <input id="departure" type="text" class="datepicker">
                                                                <label for="departure">Departure</label>
                                                            </div>
                                                        </div>
                                                        <div class="input-field col s12 m6 l3">
                                                            <div class="input-field col s12">
                                                                <input id="return" type="text" class="datepicker">
                                                                <label for="return">Return</label>
                                                            </div>
                                                        </div>
                                                        <div class="input-field col s12 m6 l3">
                                                          
                                                             <input id="return" type="text" class="autocompleteNationality">
                                                             <label for="return">Nationality</label>
                                                          
                                                     </div>
                                                      <div class="input-field col s12 m6 l3">
                                                        <select>
                                                          <option value="" disabled selected>Adults</option>
                                                          <option value="1">1</option>
                                                          <option value="2">2</option>
                                                          <option value="3">3</option>
                                                        </select>
                                                        <label></label>
                                                                  
                                                      </div>
                                                    
                                                      <div class="input-field col s12 m6 l3">
                                                        <select>
                                                          <option value="" disabled selected>Children</option>
                                                          <option value="1">1</option>
                                                          <option value="2">2</option>
                                                          <option value="3">3</option>
                                                        </select>
                                                        <label></label>
                                                                  
                                                      </div>

                                                      

                                                      <div class="input-field col s12 m6 l3">
                                                        
                                                          <select>
                                                            <option value="" disabled selected>Flight Types</option>
                                                            <option value="1">Economy</option>
                                                            <option value="2">Business</option>
                                                            <option value="3">First class</option>
                                                          </select>
                                                          <label></label>
                                                                  
                                                      </div>

                                                  
                                                
                                                  </div>
                                                  <a href="flight-results" class="btn waves-effect waves-light">
                                                   <i class="material-icons right">send</i>Search Flights
                                                  </a>  <!-- <button class="btn waves-effect waves-light" (click)="Search()" id="searchFlights">Search Flights
                                                      
                                                    </button> -->
                                          </form>
                                  </div>
                  
                          </div>
                        
                        </div>