<!-- Start Page Loading -->
<div id="loader-wrapper">
  <div id="loader"></div>        
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START HEADER -->

    <!-- START HEADER -->
    <!-- <header id="header" class="page-topbar">
      
      <div class="navbar-fixed">
          <nav class="navbar-color">
              <div class="nav-wrapper">
                  <ul class="left">                      
                     <li><h1 class="logo-wrapper"><a href="#" class="brand-logo darken-1"><img src="assets/img/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                    
                  </ul>
                  <div class="header-search-wrapper hide-on-med-and-down">
                      <i class="mdi-action-search"></i>
                      <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize"/>
                  </div>
                  <ul class="right hide-on-med-and-down">
                      <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button"  data-activates="translation-dropdown"><img src="assets/img/flag-icons/United-States.png" alt="USA" /></a>
                      </li>
 
                  </ul>
              
                  <ul id="translation-dropdown" class="dropdown-content">
                    <li>
                      <a href="#!"><img src="assets/img/flag-icons/United-States.png" alt="English" />  <span class="language-select">English</span></a>
                    </li>
                    <!-- <li>
                      <a href="#!"><img src="assets/img/flag-icons/France.png" alt="French" />  <span class="language-select">French</span></a>
                    </li>
                    <li>
                      <a href="#!"><img src="assets/img/flag-icons/China.png" alt="Chinese" />  <span class="language-select">Chinese</span></a>
                    </li>
                    <li>
                      <a href="#!"><img src="assets/img/flag-icons/Germany.png" alt="German" />  <span class="language-select">German</span></a>
                    </li>  
                    
                  </ul>
                  <ul id="dropdown2" class="dropdown-content">
                    <li><a href="#!">one<span class="badge">1</span></a></li>
                    <li><a href="#!">two<span class="new badge">1</span></a></li>
                    <li><a href="#!">three</a></li>
                  </ul>
                            
              </div>
          </nav>
      </div>
      
  </header> -->
  <!-- END HEADER -->

<!-- END HEADER -->

  <!-- END HEADER -->
  <!-- <div class="fixed-action-btn horizontal click-to-toggle">
      <a class="btn-floating btn-large red">
          <i class="material-icons">menu</i>
      </a>
      <ul>
        <li class="waves-effect btn-floating red"><a href=""><i class="material-icons dp48">home</i>Home</a></li>
        <li class="waves-effect btn-floating yellow"><a href="login"><i class="material-icons dp48">vpn_key</i>Login</a></li>
        <li class="waves-effect btn-floating green"><a href="signUp"><i class="material-icons dp48">vertical_align_bottom</i>Sign-Up</a></li>
 
      </ul>
    </div> -->
  <div class="fixed-action-btn ">
      <a class="btn-floating btn-large red">
          <i class="material-icons">menu</i>  
      </a>
      <ul>
        <li><a  href="" class="btn-floating red"><i class="material-icons dp48">home</i></a></li>
        <li><a href="login" class="btn-floating yellow darken-1"><i class="material-icons dp48">vpn_key</i></a></li>
        <!-- <li><a class="btn-floating green"><i class="material-icons dp48">vertical_align_bottom</i></a></li> -->
      
      </ul>
    </div>
	<router-outlet></router-outlet>
   <!-- START FOOTER -->
	 <footer class="page-footer">
    
      <div class="footer-copyright">
          <div class="container">
              Copyright © 2015 <a class="grey-text text-lighten-4" href="#" target="_blank">TEST</a> All rights reserved.
              <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="#">TEST</a></span>
          </div>
      </div>
  </footer>
  <!-- END FOOTER -->