<div class="col s12 m12 l4">
        <div id="flight-card" class="card">
          <div class="card-header blue-grey  darken-2">
            <div class="card-title">
              <h4 class="flight-card-title">Best Deals</h4> 
            </div>
          </div>
         
        </div>
      </div>   
    <div class="wrapper">
        <section id="content">
          
          <div id="products" class="row">
                <div class="product-sizer"></div>
              
                
              <div class="product col s12 m4 l3">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
                          

                          <a href="#"><img src="assets/img/gallary/2.jpg" alt="product-img">
                          </a>
                      </div>
                      <ul class="card-action-buttons">
                          <!-- <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="material-icons dp48 ">call</i></a>
                          </li>
                          <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="material-icons dp48">beach_access</i></a>
                          </li> -->
                          <li><a class="btn-floating waves-effect waves-light light-blue"><i class="material-icons dp48 activator">bookmark</i></a>
                          </li>
                      </ul>
                      <div class="card-content">

                          <div class="row">
                              <div class="col s8">
                                  <p class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Best package</a>
                                  </p>
                              </div>
                              <div class="col s4 no-padding">
                                  <a href="#"><img src="assets/img/gallary/6.jpg" alt="amazon" class="responsive-img">
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i>Best package</span>
                          <p>Here is some more information about this package that is only revealed once clicked on.</p>
                      </div>
                  </div>
              </div>


              <div class="product col s12 m4 l3">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
                          

                          <a href="#"><img src="assets/img/gallary/3.jpg" alt="product-img">
                          </a>
                      </div>
                      <ul class="card-action-buttons">
                          <!-- <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="material-icons dp48 ">call</i></a>
                          </li>
                          <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="material-icons dp48">beach_access</i></a>
                          </li> -->
                          <li><a class="btn-floating waves-effect waves-light light-blue"><i class="material-icons dp48 activator">bookmark</i></a>
                          </li>
                      </ul>
                      <div class="card-content">

                          <div class="row">
                              <div class="col s8">
                                  <p class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Best package</a>
                                  </p>
                              </div>
                              <div class="col s4 no-padding">
                                  <a href="#"><img src="assets/img/gallary/7.jpg" alt="amazon" class="responsive-img">
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i>Best package</span>
                          <p>Here is some more information about this package that is only revealed once clicked on.</p>
                      </div>
                  </div>
              </div>


              <div class="product col s12 m4 l3">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
                          

                          <a href="#"><img src="assets/img/gallary/4.jpg" alt="product-img">
                          </a>
                      </div>
                      <ul class="card-action-buttons">
                          <!-- <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="material-icons dp48 ">call</i></a>
                          </li>
                          <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="material-icons dp48">beach_access</i></a>
                          </li> -->
                          <li><a class="btn-floating waves-effect waves-light light-blue"><i class="material-icons dp48 activator">bookmark</i></a>
                          </li>
                      </ul>
                      <div class="card-content">

                          <div class="row">
                              <div class="col s8">
                                  <p class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Best package</a>
                                  </p>
                              </div>
                              <div class="col s4 no-padding">
                                  <a href="#"><img src="assets/img/gallary/8.jpg" alt="amazon" class="responsive-img">
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i>Best package</span>
                          <p>Here is some more information about this package that is only revealed once clicked on.</p>
                      </div>
                  </div>
              </div>


              <div class="product col s12 m4 l3">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
                          

                          <a href="#"><img src="assets/img/gallary/5.jpg" alt="product-img">
                          </a>
                      </div>
                      <ul class="card-action-buttons">
                          <!-- <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="material-icons dp48 ">call</i></a>
                          </li>
                          <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="material-icons dp48">beach_access</i></a>
                          </li> -->
                          <li><a class="btn-floating waves-effect waves-light light-blue"><i class="material-icons dp48 activator">bookmark</i></a>
                          </li>
                      </ul>
                      <div class="card-content">

                          <div class="row">
                              <div class="col s8">
                                  <p class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Best package</a>
                                  </p>
                              </div>
                              <div class="col s4 no-padding">
                                  <a href="#"><img src="assets/img/gallary/9.jpg" alt="amazon" class="responsive-img">
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i>Best package</span>
                          <p>Here is some more information about this package that is only revealed once clicked on.</p>
                      </div>
                  </div>
              </div>
          </div>
        </section>
     
    </div> 
    <div class="divider"></div>
    <div class="divider"></div>